@model DataModel.QuestionsDataModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Questions</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="QuestionText" class="control-label"></label>
                    <input asp-for="QuestionText" class="form-control" />
                    <span asp-validation-for="QuestionText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DifficultyLevelId" class="control-label"></label>
                    <select asp-for="DifficultyLevelId" class="form-control" asp-items="ViewBag.DifficultyLevelId"></select>
                </div>

            </form>
        </div>
    </div>
    <div class="row">
        @Html.PartialAsync("_QuestionAnswers", Model.QuestionAnswersDataModel);
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
